@import url("https://unpkg.com/tachyons/css/tachyons.min.css");

@import "mixins.scss";
@import "fonts.scss";

html {
    height: 100%;
}

body {
    margin: 0px;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;

    & > * {
        padding-bottom: 4px;
    }
}

.sidebar {
    width: 100vw;
    flex-grow: 1;
    flex-shrink: 1;
    @include breakpoint(mobile, max) {
        border-bottom: dashed black 2px;
        margin-bottom: 4px;
    }
    @include breakpoint(mobile, min) {
        width: 10vw;
        border-right: dashed clr(primary) 2px;
        margin-right: 4px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    img {
        filter: grayscale(100%);
        border-radius: 50%;
        width: 140px;
        &:hover {
            filter: none;
        }

        @include breakpoint(mobile, min) {
            width: 240px;
        }
    }
    & > div {
        margin-bottom: 4px;
    }
}

#content {
    width: 1vw;
    flex-grow: 7;

    @include breakpoint(mobile, min) {
        height: 100vh;
        overflow: scroll;
    }
    > h1 {
        padding-left: 4px;
        margin-left: 8px;
        @include breakpoint(mobile, min) {
            padding-left: 16px;
            margin-left: 16px;
        }
    }
}
img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

$article-width: 720px; //80ch
article {
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 0px;
    p,
    pre {
        max-width: $article-width;
        line-height: 1.3em;
    }
    pre {
        padding: 1em;
    }
    header h1 {
        max-width: $article-width;
        margin-bottom: 0.2em;
    }
    @include breakpoint(mobile, min) {
        padding-left: 16px;
        margin-left: 16px;
    }
    .article-list &:hover * {
        color: black;
    }
}

.post-meta {
    margin-bottom: 0.2em;
}

.copyright {
    display: None;
    bottom: 0;

    @include breakpoint(mobile, min) {
        display: block;
    }
    body > footer > & {
        display: block;
        @include breakpoint(mobile, min) {
            display: none;
        }
    }
}

body > footer {
    width: 100vw;
}