{{ $links := .Scratch.Get "links"}}
<header>
  <h1>
    {{.Title}}
  </h1>
  <div class="post-meta">
    <i class="far fa-calendar"></i> {{ .PublishDate.Format "2006-01-02" }}
    {{ with .Params.category }}
      <i class="fas fa-hashtag"></i>
      {{ if eq $links false}} {{ . }}{{ else }}<a
        href="{{ "/tags/" | relLangURL }}{{ . | urlize }}"> {{ . }}</a>{{ end }}
    {{ end }}
  </div>
  {{ with .Params.tags }}
  <div class="post-meta">
    {{ if gt (len .) 1 }}
    <i class="fas fa-tag"></i>
    {{else}}
    <i class="fas fa-tag"></i>
    {{end}}
    {{ range $i, $e := . }}{{ if $i }}, {{ end }}{{ if eq $links false}}{{$e}}{{ else }}<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}"> {{ $e }}</a>{{ end }}{{end}}
  </div>
  {{ end }}
</header>