<nav class="sidebar">

  <a href="{{.Site.BaseURL}}"><h1 class="tc">{{.Site.Title}}</h1></a>
  <div>

    <div class="ml5 mr5 mb2 ma1 tc" >
      <a href="{{.Site.BaseURL}}">
        <img src="/claudio_salinas.png" class="shadow-1">
      </a>
    </div>
    <div class="tc">
      {{ with .Site.Params.github }}<a class="ma2" href="https://github.com/{{.}}"><i
          class="fa-2x fab fa-github"></i></a>{{ end}}
      {{ with .Site.Params.linkedin }}<a class="ma2" href="https://linkedin.com/in/{{.}}"><i
          class="fa-2x fab fa-linkedin"></i></a>{{ end}}
      {{ with .Site.Params.twitter }}<a class="ma2" href="https://twitter.com/{{.}}"><i
          class="fa-2x fab fa-twitter"></i></a>{{ end}}
      {{ with .Site.Params.email }}<a class="ma2" href="mailto:{{.}}"><i class="fa-2x fas fa-envelope"></i></a>{{ end}}
    </div>

  </div>
  {{ partial "copyright.html" . }}
</nav>